*{margin:0;padding:0;}

body{text-align:center;}

#wrapper{
width:900px;
margin:0 auto;
}

#words {
color:#839ba9; 
text-align: center;
margin:50px 0 30px 0;
}

#img-list li{
height:350px;
float:left;
list-style:none;
font-size:12px;
font-family: 'Arial','宋体';
color:#555;
}

#img-list li span{
margin-left:15px;
}

.img-item{
width:250px;height:250px;
margin: 20px 20px 20px 20px;
border: 1px solid #777;
-webkit-box-shadow: 0 8px 6px -6px black;
     -moz-box-shadow: 0 8px 6px -6px black;
          box-shadow: 0 8px 6px -6px black;
}