*{margin:0;padding:0;}

body{text-align:center;}

#wrapper{
width:900px;
margin:0 auto;
}

#words {
color:#839ba9;
text-align: center;
margin:50px 0 30px 0;
}

#img-list li{
height:350px;
float:left;
list-style:none;
font-size:12px;
font-family: 'Arial','微软雅黑';
color:#555;
}

#img-list li span{
margin-left:15px;
}

.img-item{
width:250px;height:250px;
margin: 20px 20px 20px 20px;
border: 1px solid #777;
-webkit-box-shadow: 0 8px 6px -6px black;
     -moz-box-shadow: 0 8px 6px -6px black;
          box-shadow: 0 8px 6px -6px black;
}

#img-list li{
position: relative;
overflow: hidden;
}
#img-list li div{
display: none;
}
#img-list li:hover div{
position:absolute;
width:250px;height:190px;
background-color: #444;
margin: 20px;
padding-top:60px;
border: 1px solid #777;
opacity: 0.9;
display: block;
}
#img-list li:hover div p{
margin-top:20px;
font-size: 20px;
color: #ddd;
}
#img-list li:hover div p:last-child{
font-size: 26px;
color: #fff;
}