div#pic {
  text-align: center;
  margin-top: 50px;
}

.main {
  padding: 5px;
  border: 1px solid #777;
  -webkit-box-shadow: 0 8px 6px -6px black;
     -moz-box-shadow: 0 8px 6px -6px black;
          box-shadow: 0 8px 6px -6px black;
}

h1#words {
  color:#839ba9; 
  text-align: center;
  /* github-blue */
}
